{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_wiki/quick_search_form

    This template renders the search form within wikis.

    Example context (json):
    {
        "actionurl": "https://domain.example/mod/wiki/search.php",
        "courseid": "16",
        "cmid": "168",
        "query": "find this post",
        "subwikiid": "2",
    }
}}
<div class="wikisearch">
    <form method="post" action="{{actionurl}}" class="form-inline">
        <input type="hidden" name="searchwikicontent" value="1">
        <input type="hidden" name="courseid" value="{{courseid}}">
        <input type="hidden" name="cmid" value="{{cmid}}">
        {{#subwikiid}}
        <input type="hidden" name="subwikiid" value="{{subwikiid}}">
        {{/subwikiid}}
        <div class="input-group">
            <label class="sr-only" for="searchwiki">{{#str}}searchterms, wiki{{/str}}</label>
            <input id="searchwiki" name="searchstring" type="text" class="form-control" value="{{query}}" alt="search">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">{{#str}}searchwikis, mod_wiki{{/str}}</button>
            </div>
        </div>
    </form>
</div>
